hf_home/
logs/
control_*
run_*
thoughts*
_data/
__pycache__/
results_old/
archive/
set_affinity_gpu_polaris.sh
worker*
*.sh
test.py
.cursor/rules
.venv/
.cursor/
*.png
results_old/
control.py
*.e*
*.o*
